{
  "extends": [
    "./packages/integration-sdk-dev-tools/config/eslint.json"
  ],
  "ignorePatterns": ["node_modules/", "dist/", "work/", "coverage/"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": "./tsconfig.base.json",
    "tsconfigRootDir": "."
  }
}
